#coupons
  - @offers.offers.each do |offer|
    = render :partial => "offers", :locals => { :offer  => offer }
#coupon_pagignation
  = pagination_helper(params[:page])

:javascript
  $("#coupons").columnize({ columns: 2});
