- content_for(:title) do
  %h1.post-title Saved Offers
#coupons
  - @offers.offers.each do |offer|
    = render :partial => "offers", :locals => { :offer  => offer }
#coupon_pagignation
  = pagination_helper(params[:page])
